.my-cards {
  border-radius: 2px;
  height: 100px;
}

.cards {
  text-align: center;
  padding-top: 80px;
  border-radius: 7px;
  height: 175px;
  width: 125px;
  background-image: url(../images/game/back-card.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#nav {
  margin-bottom: 50px;
}

#table-top {
  height: 100vh;
  background-position: center center;
  background-image: url(../images/game/table-top.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  z-index: 0;
}

#player-hand {
  position: absolute;
  bottom: 15px;
  width: 100%;
  padding: 0px 5% 0px 5%;
  height: 150px;
}

#play-btn {
  position: absolute;
  margin: 0px;
  bottom: 10px;
  right: 10px;
  height: 100px;
}

#playing-card {
  margin-top: 50px;
}

.red-card > p, .green-card > p, .blue-card > p, .yellow-card > p {
  padding-top: 40%;
}

.red-card {
  font-weight: 900;
  font-size: 48px;
  text-align: center;
  background-image: url(../images/game/red-card.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 175px;
  width: 125px;
}

.green-card {
  border-radius: 7px 7px 7px 7px;
  border: 20px solid #FFFF;
  font-weight: 900;
  font-size: 48px;
  text-align: center;
  background-image: url(../images/game/green-card.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 175px;
  width: 125px;
}

.blue-card {
  font-weight: 900;
  font-size: 48px;
  text-align: center;
  background-image: url(../images/game/blue-card.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 175px;
  width: 125px;
}

.yellow-card {
  font-weight: 900;
  font-size: 48px;
  text-align: center;
  background-image: url(../images/game/yellow-card.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 175px;
  width: 125px;
}

.no-select {
  position: absolute;
  width: 125px;
  height: 175px;
  z-index: 2;
}

::selection {
    color: rgba(0,0,0,0);
    background: rgba(255,255,255,0);
}