.my-cards {
  border-radius: 2px;
  height: 100px;
}

.cards {
  text-align: center;
  padding-top: 80px;
  border-radius: 7px;
  height: 175px;
  width: 125px;
  background-image: url(../images/game/back-card.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#nav {
  margin-bottom: 50px;
}

#table-top {
  height: 100vh;
  background-position: center center;
  background-image: url(../images/game/table-top.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
}

#player-hand {
  position: absolute;
  bottom: 40px;
  width: 100%;
  padding: 0px 5% 0px 5%;
  height: 200px;
}

#playing-card {
  margin-top: 50px;
}
.red-card {
  margin: 0 auto;
  font-weight: 900;
  font-size: 48px;
  padding-top: 55px;
  text-align: center;
  background-image: url(../images/game/red-card.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 175px;
  width: 125px;
}

.green-card {
  margin: 0 auto;
  border-radius: 7px 7px 7px 7px;
  border: 20px solid #FFFF;
  font-weight: 900;
  font-size: 48px;
  padding-top: 55px;
  text-align: center;
  background-image: url(../images/game/green-card.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 175px;
  width: 125px;
}

.blue-card {
  margin: 0 auto;
  font-weight: 900;
  font-size: 48px;
  padding-top: 55px;
  text-align: center;
  background-image: url(../images/game/blue-card.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 175px;
  width: 125px;
}

.yellow-card {
  margin: 0 auto;
  font-weight: 900;
  font-size: 48px;
  padding-top: 55px;
  text-align: center;
  background-image: url(../images/game/yellow-card.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 175px;
  width: 125px;
}