@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);

* {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 18px;
}
/*Google Chrome scroll bar hidden
::-webkit-scrollbar {
    display: none;
    }*/

#parallax-one {
  background-size: cover, contain;
  background-image: url(../images/home/parallax-one.png);
  background-attachment: fixed;
  background-position: center center;
  box-shadow: inset 0 0 1em #111;
  padding-bottom: 50px;
}

#parallax-two {
  background-size: cover;
  background-image: url(../images/home/parallax-two.jpg);
  background-attachment: fixed;
  background-position: center center;
  box-shadow: inset 0 0 1em #111;
  padding-bottom: 50px;
}

#parallax-three {
  background-size: cover;
  background-image: url(../images/home/parallax-three.jpg);
  background-attachment: fixed;
  background-position: center center;
  box-shadow: inset 0 0 1em #111;
}

#game-btn {
  height: 410px;
}

#game-btn > a > img {
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 45%;
}

#game-info {
  margin-top: 30px;
  background-color: rgba(255, 255, 255, .5);
  padding: 0px;
  border-radius: 5px;
}

#game-info > div {
  padding: 0px 5px 5px 5px;
}

#game-info > ul > li > a {
  font-weight: bold;
}

#carousel {
  height: 410px;
  border-radius: 5px;
}

#carousel > div > div > div > div > img {
  border-radius: 5px;
}

#tab-overview {
  margin-top: 10px;

}

#map {
  width: 500px;
  height:400px;
  background-color: #CCC;
}

#footer {
  height: 200px;
  background-color: rgba(255, 255, 255, .5);
}

#top {
    padding-top: 70px;
}